<!DOCTYPE html>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sanaTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">sanaTest</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="List">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="button" id="btnSet" value="Change DB" class="btn btn-secondary" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - sanaTest
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.0/d3.min.js"></script>

    <script type="text/javascript">
        var useData = '@HttpContextAccessor.HttpContext.Session.GetString("useDataInmemory")';
        var invert = useData == "true" ? "false" : "true";
        $(function () {
            $("#btnSet").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Product/SetSession",
                    data: { 'useDataInmemory': invert },
                    success: function (response) {
                        var msg = response.useDataInmemory == true ? "DB in memory active" : "DB in storage active";
                        if (!alert(msg)) {
                            window.location.reload();
                        }
                    }
                });
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
